body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
}

p {
  margin-bottom: 1.6em;
}

main {
  padding-top: 12rem;
}

.container {
  width: 85%;
  max-width: 1250px;
  margin: 0 auto;
}

.header {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.logo {
  letter-spacing: 5px;
  font-size: 1.2rem;
  font-weight: bold;
}

.container a {
  text-decoration: none;
  color: #1f1a1a;
  transition: all 0.5s linear;
}

.navigation a:hover {
  color: rgba(211, 78, 75, 1);
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  padding: 12px;
  font-weight: 400;
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 768px) {
  .header {
    z-index: 100;
  }

  /* Styles */
  .navigation {
    margin-top: 1.2rem;
    width: 80%;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .logo-nav-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
  }

  .navigation ul {
    position: fixed;
    background-color: rgb(255, 255, 255);
    left: 100vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s linear;
  }

  .navigation ul.show {
    left: 0vw;
  }

  .navigation li {
    display: block;
    padding: 12px;
  }
}
