html {
  scroll-behavior: smooth;
}
input {
  padding: 7px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;

  text-align: left;
  border-width: 2px;
  border-color: #c8312cb4;
  border-radius: 9px;
  border-style: solid;
}
input:focus-visible {
  outline: 2px solid rgba(235, 61, 61, 0.493);
}
textarea:focus-visible {
  outline: 2px solid rgba(235, 61, 61, 0.493);
}

textarea {
  padding: 7px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  text-align: left;
  border-width: 2px;
  border-radius: 9px;
  border-style: solid;
  border-color: #c8312cb4;
  resize: none;
  height: 100px;
}
.cont {
  max-width: 730px;
}

.titulos {
  font-weight: bold;
  font-size: 50px;
  color: #e25854;
}

.seccion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 900px;
}

.seccion2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 700px;
}

.text {
  font-size: 18px;
  font-weight: normal;
}

.text-justify {
  padding-right: 20px;
  font-size: 12px;
}

.text-important {
  font-weight: 600;
}

.desplazarse {
  padding: 200px 100px 100px 100px;
  right: 10%;
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 22px;
  color: #c8312ce5 !important;
}
.desplazarse2 {
  position: absolute;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 22px;
  color: #c8312ce5 !important;
  left: 10%;
  padding: 50px 100px;
}
.desplazarse a {
  margin: 0;
  color: #c8312ce5 !important;

  z-index: 0;
}
.desplazarse2 a {
  color: #c8312ce5 !important;
  margin: 0;
  z-index: 0;
}

/* DEFAULT */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  line-height: 2.2rem;
  color: 1f1a1a;
  margin: 0;
  background-color: rgba(255, 255, 255, 1);
}

p {
  margin-bottom: 1.6em;
}

/* HEADER */

button {
  border-radius: 6px;
  height: 48px;
  width: 160px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: normal;
  background-color: #d35956;
  border: 0;
  cursor: pointer;
}

.contact-b:visited {
  border-radius: 6px;
  height: 48px;
  width: 160px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: normal;
  background-color: #d35956;
  border: 0;
  cursor: pointer;
  padding: 5px;
}

main {
  min-height: 866px;
}

.container {
  width: 85%;
  max-width: 1250px;
  margin: 0 auto;
}

.header {
  background-color: rgb(255, 255, 255);
  padding: 25px;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
}

.logo {
  letter-spacing: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #c8312cb4 !important;
}

.container a {
  text-decoration: none;
  color: #1f1a1a;
  transition: all 0.5s linear;
}

.contact-b {
  color: rgb(255, 255, 255) !important;
}

.navigation a:hover {
  color: rgba(211, 78, 75, 1);
}

.logo-nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation li {
  display: inline-block;
  padding: 12px;
  font-weight: 400;
}

.menu-icon {
  display: none;
}

/* INICIO */

.contenedor-inicio {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contenedor-text {
  display: flex;
  justify-content: space-center;
  align-items: center;
}

.contenedor-inicio h2 {
  font-weight: 500;
  font-size: 48px;
  margin: 10px 0px;
}

.contenedor-inicio h5 {
  margin: 20px 0px 0px 0px;
  color: #c8302c;
}
.contenedor-inicio h6 {
  margin: 0px 0px;
  font-size: 0.83em;
  color: #c8302c;
}

.social-bar {
  height: 280px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.social-bar a {
  text-align: center;
  float: left;
  width: 36px;
  height: 36px;
  background-color: #c8312ce5;
  border-radius: 100%;
  margin-right: 7px; /*space between*/
  margin: 5px;
}

.brightness:hover {
  filter: brightness(1.2);
}

.social-bar a i {
  font-size: 20px;
  line-height: 38px;
  color: #ffffff;
}

.presentacion {
  max-width: 500px;
}

.imagen-inicio {
  width: 500px;
  display: block;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 8px -5px rgba(22, 18, 18, 0.9);
  box-shadow: 0px 5px 15px -5px rgba(14, 10, 10, 0.9);
}

.descripcion {
  font-size: 16px;
}

/* ACERCA DE MI */

.contenedor-acerca {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.acerca-de-mi {
  width: 500px;
  height: 600px;
}

.datos-personales p {
  margin: 0;
}

.imagen-acerca {
  width: 500px;
  height: 450px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 8px -5px rgba(22, 18, 18, 0.9);
  box-shadow: 0px 5px 15px -5px rgba(14, 10, 10, 0.9);
}

.imagen-contacto {
  width: 380px;
  height: 180px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 6px 10px -15px rgba(22, 18, 18, 0.9);
  box-shadow: 0px 5px 15px -25px rgba(14, 10, 10, 0.9);
}

.glide__track {
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0px 15px 20px -30px #111;
  padding-bottom: 20px;
}

.contenedor-imagen {
  display: flex;
  height: 560px;
  justify-content: center;
  flex-direction: column;
}

/* HABILIDADES */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container22 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.habilidades-de-mi {
  width: 500px;
}

.datos-personales p {
  margin: 0;
}

.imagen-habilidades {
  height: 308px;
  width: 500px;
}

.habilidad p {
  margin: 0;
}
.habilidad progress {
  color: #c8302c;
}
.div-hab {
  display: flex;
  height: 560px;
  justify-content: space-around;
  flex-direction: column;
}

.progress-container {
  border-radius: 8px;
  height: auto;
  background-color: whitesmoke;
  width: 500px;
  /* border: 4px solid #e25854; */
  z-index: 10;
  word-wrap: break-word;
  -webkit-box-shadow: 0px 6px 8px -5px rgba(233, 33, 33, 0.9);
  box-shadow: 0px 2px 8px -5px rgba(207, 37, 37, 0.9);
}

.progress-bar {
  border-radius: 4px;
  height: 22px;
  background-color: #ffa8a6;
  /* animation: progress-animation 8s infinite alternate-reverse; */
  /* box-shadow: 0px 0px 10px 1px rgba(214, 101, 101, 0.9); */
}

.font-bar {
  display: flex;
  justify-content: center;
  height: 20px;
  width: 500px;
  font-size: 15px;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
}

/* CARROUSEL */
.hab_container {
  display: flex;
}

.glide__arrow {
  color: rgb(230, 97, 97) !important;
  border: 0 !important;
  height: 3rem;
  width: 3rem;
}

/* --- --- CAROUSEL --- --- */
.container2 {
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.glide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.glide__slide img {
  height: 200px;
  width: 200px;
}

/* Educacion */

.educacion {
  display: grid;
  grid-template-columns: 30% 40% 30%;
}

.imagenP {
  margin: 25px 0px;
  border-radius: 20px;
  width: 300px;
  height: 500px;
  object-fit: cover;
}

.educacion h2 {
  color: #e25854;
}

.educacion li::marker {
  color: #b64440;
}

/* CONTACTAME */
.centrar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.centrar2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.center2 {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.submit {
  margin: 10px auto;
  height: 40px;
}

.inputs {
  display: block;
  margin: 5px;
}

/* footer */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color: #737373;
}
.site-footer a:hover {
  color: #d35956;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #d35956;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #030303;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

.row {
  display: grid;
  grid-template-columns: 60% 20% 20%;
}

/* RESPONSIVE */

@media only screen and (max-width: 768px) {
  .header {
    z-index: 100;
  }

  /* Styles */
  .navigation {
    margin-top: 1.2rem;
    width: 80%;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
    z-index: 100;
  }

  .logo-nav-container {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align: center;
  }

  .navigation ul {
    position: fixed;
    background-color: rgb(255, 255, 255);
    left: 200vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.5s linear;
  }

  .navigation ul.show {
    left: 0vw;
  }

  .navigation li {
    display: block;
    padding: 12px;
  }
}

@media only screen and (max-width: 1128px) {
  .hide {
    display: none;
  }
  /* INICIO RESPONSIVE */
  .inicio {
    display: block;
    margin: 20px 0px;
  }
  .contenedor-inicio {
    padding-top: 120px;
    flex-direction: column;
  }

  .imagen-inicio {
    margin: 20px;
    width: 480px;
  }

  /* ACERCADE RESPONSIVE */

  .acerca {
    display: block;
    height: auto;
    margin: 20px 0px;
  }
  .contenedor-acerca {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .contenedor-acerca div:nth-of-type(1) {
    order: 2;
  }
  .contenedor-acerca div:nth-of-type(2) {
    order: 1;
  }
  .contenedor-imagen {
    height: 400px !important;
  }

  /* HABILIDADES RESPONSIVE */
  .habilidades {
    display: block;
    margin: 40px 0px;
  }
  .contenedor-habilidades {
    padding: 0 !important;
  }
  .container22 {
    flex-direction: column-reverse;
  }

  .eduacacion {
    display: block;
    margin: 20px 0;
  }
  .educacion {
    display: block !important;
  }

  .cimagen {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagenP {
    width: auto !important;
    max-width: 600px !important;
    height: 300px !important;
  }

  /* CONTACTO RESPONSIVE */

  .centrar2 {
    padding: 40px;
    flex-direction: column-reverse;
  }

  .contacto {
    display: block;
    height: auto;
    margin-top: 40px;
  }

  .centrar {
    flex-direction: column-reverse;
  }

  .social-icons {
    width: 150px;
  }
}

@media only screen and (max-width: 640px) {
  .hide {
    display: none;
  }
  /* INICIO RESPONSIVE */
  .inicio {
    display: block;
    margin: 20px 0px;
  }
  .contenedor-inicio {
    padding-top: 120px;
    flex-direction: column;
  }

  .imagen-inicio {
    margin: 20px;
    width: 280px;
  }

  /* ACERCADE RESPONSIVE */
  .acerca-de-mi {
    width: 345px;
    height: auto;
  }
  .acerca {
    display: block;
    height: auto;
    margin: 20px 0px;
  }
  .contenedor-acerca {
    flex-direction: column;
    padding-bottom: 60px;
  }

  .contenedor-acerca div:nth-of-type(1) {
    order: 2;
  }
  .contenedor-acerca div:nth-of-type(2) {
    order: 1;
  }
  .contenedor-imagen {
    height: 250px !important;
  }

  .imagen-acerca {
    margin: 5px;
    height: 280px;
    width: 280px;
  }

  /* HABILIDADES RESPONSIVE */
  .habilidades {
    display: block;
    height: auto;
    margin: 40px 0px;
  }

  .contenedor-habilidades {
    width: 300px;
  }
  .habilidades-de-mi {
    width: 300px;
  }
  .glide__slide {
    width: 300px;
  }

  .glide__slide img {
    height: 80px !important;
    width: 80px !important;
  }

  .div-hab {
    width: auto;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .habilidad {
    width: auto;
    margin: 0 !important;
  }
  .progress-container {
    width: 300px !important;
  }

  .font-bar {
    width: 300px !important;
  }
  .container22 {
    flex-direction: column-reverse;
  }

  .eduacacion {
    display: block;
    margin: 20px 0;
    height: auto;
  }
  .educacion {
    display: block !important;
    height: auto;
  }

  .cimagen {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imagenP {
    width: 200px !important;
    max-width: 600px !important;
    height: 300px !important;
  }

  .row {
    display: block;
  }
  .sociall {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .social-icons {
    margin: 0px 0px 20px 0px;
  }
  .centrarR {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
